= simple_form_for(@task, html: { class 'form-horizontal'}) do |f|
  = f.input :title, label: "Tytul zadania"
  = f.input :description, label: "Opis zadania"
  = f.input :company, label: "Twoja firma"
  = f.input :url, label: "Link do zadania"
  %br/
  = f.button :submit
